.book-container {
  position: relative;
  text-align: center;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a2a076;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.overlay p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.overlay ul {
  list-style: none;
  padding: 0;
}

.overlay li {
  width: 100%;
  padding: 1em 3em;
  font-size: 1.5em;
}
.overlay button {
  padding: 1.5em 5em;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 0.6em;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.overlay button:hover {
  background-color: #f1f1f1;
}
@media only screen and (min-width: 768px) {
  .image-container img {
    height: 50rem;
  }

  .overlay button {
    padding: 1em 5em;

    font-size: 0.9em;
  }
}
